<template>
    <v-layout wrap>
        <v-flex sm3 xs11>
            <v-autocomplete
                v-model="selectedMonth"
                prepend-icon="calendar"
                :items="availableMonths"
                label="Month"
            ></v-autocomplete>
        </v-flex>
        <v-flex xs12>
            <Table v-bind="tableProps"/>
        </v-flex>
        <v-flex xs12>
            <Table v-bind="gameLogTableProps"/>
        </v-flex>
    </v-layout>
</template>

<script>
    import GameStatPagesMixin from '@/mixins/game-stat/game-stat-pages-mixin'
    import { mapGetters } from 'vuex'
    import { monthSheets } from '@/store/static/tabletop/sheet-names'
    import { YEAR } from '@/store/static/tabletop/game-stat-details'

    export default {
        name: 'MonthStats',
        mixins: [GameStatPagesMixin],
        computed: {
            ...mapGetters('apps/GameStat', [
                'monthStatsFormatted',
                'monthGameLogFormatted'
            ]),
            availableMonths () {
                const date = new Date()
                if (date.getFullYear() > YEAR) {
                    return monthSheets
                }
                const month = date.getMonth() + 1
                const sheets = monthSheets.slice(0, month)
                return _.map(sheets, (sheet) => ({
                    text: sheet,
                    value: sheet
                }))
            },
            tableData () {
                return this.monthStatsFormatted(this.selectedMonth)
            },
            gameLogTableProps () {
                return {
                    ...this.tableProps,
                    ...this.monthGameLogFormatted(this.selectedMonth),
                    rowsPerPageItems: [{ text: '$vuetify.dataIterator.rowsPerPageAll', value: -1 }]
                }
            }
        },
        data: () => ({
            selectedMonth: _.first(monthSheets)
        })
    }
</script>
