<template>
    <Table v-bind="tableProps"/>
</template>

<script>
    import GameStatPagesMixin from '@/mixins/game-stat/game-stat-pages-mixin'
    import { mapGetters } from 'vuex'

    export default {
        name: 'Scoring',
        mixins: [GameStatPagesMixin],
        computed: {
            ...mapGetters('apps/GameStat', {
                tableData: 'scoringFormatted'
            })
        }
    }
</script>
