<template>
    <div>
        <v-container fluid grid-list-lg>
            <v-layout wrap>
                <v-flex v-for="(item, index) in items" :key="index" xs12 md6>
                    <v-card color="secondary">
                        <v-list three-line>
                            <v-list-tile>
                                <v-card-actions v-if="enableItemIcons && item.icon" class="pa-0 pr-2">
                                    <v-icon
                                        color="primary"
                                        v-text="item.icon"
                                    />
                                </v-card-actions>
                                <v-list-tile-content>
                                    <v-list-tile-title class="subheading font-weight-light">{{ item.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{ item.description }}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-card-actions class="pa-0">
                                    <v-btn v-if="item.url" icon @click="$helpers.openLink(item.url)">
                                        <v-icon
                                            color="primary"
                                        >
                                            fas fa-globe
                                        </v-icon>
                                    </v-btn>
                                    <v-btn v-if="item.repo" icon @click="$helpers.openLink(item.repo.url)">
                                        <v-icon
                                            color="primary"
                                            v-text="repoLogo(item.repo.source)"
                                        />
                                    </v-btn>
                                </v-card-actions>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: 'List',
        props: {
            enableItemIcons: {
                default: false,
                type: Boolean
            },
            items: {
                required: true,
                type: Array
            }
        },
        methods: {
            repoLogo (source) {
                switch (source) {
                    case 'github':
                        return 'fab fa-github'
                    case 'gitlab':
                        return 'fab fa-gitlab'
                    case 'dropbox':
                        return 'fab fa-dropbox'
                    default:
                        return 'fas fa-code'
                }
            }
        }
    }
</script>
