<template>
    <Section title="Additional Skills">
        <v-chip
            v-for="skill of skills"
            :key="skill"
            v-text="skill"
            color="accent"
            class="px-2 py-1"
        />
    </Section>
</template>

<script>
    import Section from '@/components/layout/Section'

    export default {
        name: 'AdditionalSkills',
        components: {
            Section
        },
        data: () => ({
            skills: [
                'JavaScript',
                'TypeScript',
                'Terraform',
                'GitLab CI-CD',
                'BASH',
                'C++',
                'C',
                'R',
                'MATLAB',
                'Verilog HDL',
                'HTML',
                'CSS',
                'Excel',
                'Word',
                'Angular',
                'Vue.js',
                'Node.js',
                'MongoDB',
                'Express',
                'LTSpice',
                'Eagle',
                'SketchUp'
            ]
        })
    }
</script>
