<template>
    <v-layout justify-center>
        <v-card color="transparent" flat>
            <v-card-title class="py-1">
                <span class="title font-weight-light mx-auto">
                    Download CV
                </span>
            </v-card-title>
            <v-card-actions>
                <v-btn
                    color="primary"
                    small
                    @click="$helpers.openLink('https://drive.google.com/file/d/1bPfQ2sGa83d41YPnE_XIgjWy_XGmdnL7/view?usp=sharing')"
                >
                    PDF
                    <v-icon class="ml-2" v-text="downloadIcon" />
                </v-btn>
                <v-btn
                    color="primary"
                    small
                    @click="$helpers.openLink('https://docs.google.com/document/d/1vJB_W1QqYAa0Gy5nsXVr5CCI4L3-adyp/edit?usp=sharing&ouid=100219402737722862352&rtpof=true&sd=true')"
                >
                    DOCX
                    <v-icon class="ml-2" v-text="downloadIcon" />
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-layout>
</template>

<script>
    export default {
        name: 'CVDownload',
        data: () => ({
            downloadIcon: 'cloud_download'
        })
    }
</script>
