<template>
    <Section title="Education">
        <v-container fluid grid-list-lg class="pt-2 px-0 pb-2">
            <v-layout wrap>
                <v-flex xs12 md7>
                    <v-card color="primary" class="text-xs-left" height="100%">
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-card-title>
                                    <div>
                                        <div class="title font-weight-light pb-2">University of Surrey, Guildford (2014 - 2018)</div>
                                        <div class="subheading">BEng Electronic Engineering with Computer Systems</div>
                                        <div class="subheading">First Class Honours</div>
                                        <div class="subheading">Studied abroad during my second year at Texas Tech University</div>
                                        <v-layout wrap>
                                            <v-flex xs12 sm6>
                                                <div class="subheading">Major projects completed include:</div>
                                                <ul>
                                                    <li>Interactive Internet of Things generated building heat map application (built w/ JavaScript)</li>
                                                    <li>Cyber network monitoring wireless access point with a network visualising web application (built w/ C++, JavaScript, and BASH)</li>
                                                </ul>
                                            </v-flex><v-flex xs12 sm6>
                                                <div class="subheading">Key modules studied include:</div>
                                                <ul>
                                                    <li>Object Oriented Design with C++</li>
                                                    <li>Higher Mathematics</li>
                                                    <li>Engineering Mathematics</li>
                                                    <li>Microprocessor Architecture</li>
                                                    <li>German Stage II</li>
                                                </ul>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <div class="subheading">Skills developed include:</div>
                                                <ul>
                                                    <li>Leadership and management through delivering, as project lead, a group project to satisfy a design brief</li>
                                                    <li>Ability to work with and bounce ideas between academics in order to deliver solutions</li>
                                                </ul>
                                            </v-flex>
                                        </v-layout>
                                    </div>
                                </v-card-title>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
                <v-flex xs12 md5>
                    <v-card color="accent" class="text-xs-left" height="100%">
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-card-title>
                                    <div>
                                        <div class="title font-weight-light pb-2">Holy Trinity C of E School, Crawley (2008 - 2014)</div>
                                        <div class="subheading">A-Level:</div>
                                        <ul>
                                            <li>Electronics (A*)</li>
                                            <li>Further Mathematics (B)</li>
                                            <li>Mathematics (A)</li>
                                            <li>Physics (B)</li>
                                        </ul>
                                        <div class="subheading">AS-Level: Religious Studies (B)</div>
                                        <div class="subheading">GCSE: 10 at grade A* – A including English, Mathematics, and Science</div>
                                    </div>
                                </v-card-title>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </Section>
</template>

<script>
    import Section from '@/components/layout/Section'

    export default {
        name: 'Education',
        components: {
            Section
        }
    }
</script>
