<template>
    <Section title="Employment">
        <Timeline
            :dense="$vuetify.breakpoint.smAndDown"
            :items="jobs"
        />
    </Section>
</template>

<script>
    import Section from '@/components/layout/Section'
    import Timeline from '@/components/timeline/Timeline'

    export default {
        name: 'Employment',
        components: {
            Section,
            Timeline
        },
        data: () => ({
            jobs: [
                {
                    title: 'BT',
                    icon: 'far fa-building',
                    color: 'purple darken-4',
                    start: '01/06/2021',
                    end: '',
                    events: [
                        {
                            start: '01/06/2023',
                            end: '',
                            title: 'Lead Software Engineer',
                            description: [
                                `Leading a team of engineers where emphasis is given to fostering a culture of
                                 self-organisation, transparency, and continuous delivery`,
                                'Developing security scanning CI-CD pipelines to assist with the safe delivery of code',
                                `Creating an InnerSource framework to streamline and standardise front end
                                 development`
                            ]
                        },
                        {
                            start: '01/06/2021',
                            end: '31/05/2023',
                            title: 'Front End Engineer',
                            description: [
                                `Working on a Front End Framework CLI capability which allows developers to rapidly
                                 develop packages and Next.js Web Apps with accessibility, linting, building,
                                 deployment tools, and CI-CD integration all bundled in`,
                                `Maintaining and enhancing a scalable Next.js web app deployment CI-CD architecture
                                 that utilises Terraform and AWS`,
                                `Creating an array of typescript packages to support developers in adding re-usable
                                 functionality across Node.js and Next.js for capabilities from Accessibility,
                                 Analytics, and Authentication to SEO`,
                                `Actively contributing to the direction of the team and our innovation goals for BT
                                 technology`
                            ]
                        }
                    ]
                },
                {
                    title: 'PFSweb LiveArea',
                    icon: 'work',
                    color: 'grey darken-2',
                    start: '24/02/2020',
                    end: '19/05/2021',
                    events: [
                        {
                            start: '',
                            end: '',
                            title: 'Front End Developer',
                            description: [
                                `Developed towards a new ecommerce store for a leading retail client using Next.js,
                                 including server-side rendering (SSR), to achieve a completely headless Front End
                                 solution`,
                                'Contributed to a shared UI library of React UI components using Storybook',
                                'Worked as the feature lead for the checkout component of an ecommerce store',
                                'Worked on both a Front End and Back End node.js layer to enhance data flows'
                            ]
                        }
                    ]
                },
                {
                    title: 'Windsor Telecom Ltd',
                    icon: 'fas fa-building',
                    color: 'purple',
                    start: '01/05/2018',
                    end: '18/02/2020',
                    events: [
                        {
                            start: '',
                            end: '',
                            title: 'Developer',
                            description: [
                                `Developed a new telecoms system, for both internal staff and customers, using the
                                Vue.js framework. The system enables users to manage their clients, set up
                                products/contracts, and generates useful statistical measures to aid the business in
                                targeting new products`,
                                'Designed, built, and maintained a data wallboard that summarises key business metrics',
                                `Developed the front end of a two-factor authentication platform for secure
                                authentication`,
                                'Maintained a markdown documentation base for all the projects to which I contribute',
                                'Researched and developed new solutions to enhance the customer base and gain clients'
                            ]
                        }
                    ]
                },
                {
                    title: 'University of Surrey',
                    icon: 'fas fa-university',
                    color: 'blue',
                    start: '01/10/2017',
                    end: '18/05/2018',
                    events: [
                        {
                            start: '',
                            end: '',
                            title: 'Student Lab Assistant',
                            description: [
                                'Assisted students in completing their laboratory work to a high standard',
                                'Worked alongside completing my final year of university'
                            ]
                        }
                    ]
                },
                {
                    title: 'Sony Europe Ltd',
                    icon: 'work',
                    color: 'grey darken-2',
                    start: '01/08/2016',
                    end: '31/07/2017',
                    events: [
                        {
                            start: '',
                            end: '',
                            title: 'R&D Engineering Intern',
                            description: [
                                `Designed and created an Angular web application that acts as a GUI for controlling
                                an emulator, via a RESTful API, that simulates a storage unit`,
                                `Worked on the HEVC video codec by analysing proposed changes to the standard and
                                helping to create proposals to enhance the standard`,
                                `Created a user interface that connects to cloud storage services and wrote code to
                                allow media files to be streamed in a MEAN stack web application`,
                                `Ability to formulate and provide useful statistics and graphs for projects and reports
                                using R and MATLAB`,
                                'Wrote professional documentation and delivered regular presentations on my work',
                                'Showed desire and adaptability to learn new tools and languages for projects'
                            ]
                        }
                    ]
                },
                {
                    title: 'WHSmith Travel',
                    icon: 'local_airport',
                    color: 'light-blue',
                    start: '01/09/2012',
                    end: '01/06/2015',
                    events: [
                        {
                            start: '01/08/2013',
                            end: '01/06/2015',
                            title: 'Cash Office Supervisor',
                            description: [
                                'Worked between airport terminals ensuring cash-management tasks were completed'
                            ]
                        },
                        {
                            start: '01/09/2012',
                            end: '31/07/2013',
                            title: 'Sales Assistant',
                            description: [
                                'Assisted people, many of whom spoke limited english, with finding and selling products'
                            ]
                        }
                    ]
                }
            ]
        })
    }
</script>
