<template>
    <div>
        <div class="headline">Luke Hooker</div>
        <div class="title font-weight-light pt-2">Manchester, UK</div>
        <div class="title font-weight-light pt-2">contact@lukehooker.com</div>
    </div>
</template>

<script>
    export default {
        name: 'GeneralInfo'
    }
</script>
