<template>
    <Section title="Personal Statement">
        <div class="text-xs-left">
            <p>
                A modern, agile lead software engineer.
                Holding a first-class honours Electronic Engineering degree with experience in web development and software research and development.
                I am looking to bring my professional, logical and positive approach to your company.
                Partnering this with my ability to communicate effectively, adapt and focus on tasks creates a strong candidate.
                In my current Lead Software Engineer position, I have enhanced these talents and gained a breadth of software and leadership experience.
                I now wish to take on an exciting and innovative Lead Software Engineering position, to improve the business and deliver success.
            </p>
            <!-- I now wish to take on an exciting and innovative technology position, to improve the business and deliver success. -->
        </div>
    </Section>
</template>

<script>
    import Section from '@/components/layout/Section'

    export default {
        name: 'PersonalStatement',
        components: {
            Section
        }
    }
</script>
