<template>
    <div>
        <v-tooltip
            v-for="network in socialNetworks"
            :key="network.url"
            :top="network.tooltip === 'top'"
            :right="network.tooltip === 'right'"
            :bottom="network.tooltip === 'bottom'"
            :left="network.tooltip === 'left'"
        >
            <template #activator="data">
                <v-btn
                    v-on="data.on"
                    icon
                    @click="$helpers.openLink(network.url)"
                >
                    <v-icon v-text="network.icon" :color="network.color"/>
                </v-btn>
            </template>
            <span v-text="network.name"/>
        </v-tooltip>
    </div>
</template>

<script>
    export default {
        name: 'SocialNetworks',
        data: () => ({
            socialNetworks: [
                {
                    name: 'LinkedIn',
                    icon: 'fab fa-linkedin',
                    url: 'https://www.linkedin.com/in/lukehooker/',
                    color: 'white',
                    tooltip: 'left'
                },
                {
                    name: 'GitHub',
                    icon: 'fab fa-github',
                    url: 'https://github.com/LJH17',
                    color: 'white',
                    tooltip: 'bottom'
                },
                {
                    name: 'GitLab',
                    icon: 'fab fa-gitlab',
                    url: 'https://gitlab.com/LJH17',
                    color: 'white',
                    tooltip: 'bottom'
                },
                {
                    name: 'Stack Overflow',
                    icon: 'fab fa-stack-overflow',
                    url: 'https://stackoverflow.com/users/6854455/ljh',
                    color: 'white',
                    tooltip: 'right'
                }
            ]
        })
    }
</script>
