<template>
    <v-container fluid grid-list-lg pa-0>
        <v-layout wrap>
            <v-flex xs12 v-if="spreadsheetError">
                <v-alert
                    type="error"
                    :value="true"
                    dismissible
                    outline
                    v-text="spreadsheetError"
                />
            </v-flex>
            <v-flex xs12>
                <tabs :routes="routes"/>
            </v-flex>
            <v-flex xs12>
                <router-view/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import tabletop from 'tabletop'
    import Tabs from '@/components/layout/Tabs'
    import { mapActions, mapGetters } from 'vuex'
    import { SPREADSHEET_KEY } from '@/store/static/tabletop/spreadsheet-key'
    import {
        GAME_STAT_MONTH_STATS,
        GAME_STAT_SCORING,
        GAME_STAT_STANDINGS,
        GAME_STAT_STATS
    } from '@/router/route-names'

    export default {
        name: 'GameStat',
        components: {
            Tabs
        },
        computed: {
            ...mapGetters('apps/GameStat', [
                'spreadsheetError',
                'spreadsheetLoading'
            ])
        },
        data: () => ({
            routes: [
                {
                    name: 'Standings',
                    icon: 'fas fa-trophy',
                    route: { name: GAME_STAT_STANDINGS }
                },
                {
                    name: 'Stats',
                    icon: 'fas fa-percentage',
                    route: { name: GAME_STAT_STATS }
                },
                {
                    name: 'Monthly Stats',
                    icon: 'far fa-calendar',
                    route: { name: GAME_STAT_MONTH_STATS }
                },
                {
                    name: 'Scoring',
                    icon: 'fas fa-clipboard-list',
                    route: { name: GAME_STAT_SCORING }
                }
            ]
        }),
        methods: {
            ...mapActions('apps/GameStat', [
                'resetGameStat',
                'setGameStatSpreadsheet',
                'setGameStatSpreadsheetLoading',
                'setGameStatError',
                'resetGameStatError'
            ]),
            getSpreadsheetData () {
                this.setGameStatSpreadsheetLoading()
                tabletop.init({
                    key: SPREADSHEET_KEY,
                    simpleSheet: false
                }).then((data) => {
                    this.setGameStatSpreadsheetLoading(false)
                    this.setGameStatSpreadsheet(data)
                    this.resetGameStatError()
                }, (err) => {
                    this.setGameStatSpreadsheetLoading(false)
                    this.setGameStatError(err)
                })
            }
        },
        created () {
            this.getSpreadsheetData()
        },
        destroyed () {
            this.resetGameStat()
        }
    }
</script>
