<template>
    <v-footer
        app
        height="auto"
        class="elevation-5"
    >
        <v-card
            class="flex"
            color="secondary"
            flat
            tile
        >
            <v-card-title class="justify-center py-0">
                <v-btn
                    v-for="link in links"
                    :key="link.icon"
                    color="white"
                    :class="`mx-3 elevation-${link.elevation}`"
                    icon
                    @click="$helpers.openLink(link.url)"
                >
                    <v-icon size="24px" :color="link.color">{{ link.icon }}</v-icon>
                </v-btn>
            </v-card-title>

            <v-card-actions class="justify-center pt-0">
                <span class="preserve-whitespace">
                    {{ footerTextPrefix }}
                </span>
                <strong>{{ name }}</strong>
            </v-card-actions>
        </v-card>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer',
        data: () => ({
            year: new Date().getFullYear(),
            name: 'Luke Hooker',
            links: [
                {
                    icon: 'fab fa-linkedin',
                    url: 'https://www.linkedin.com/in/lukehooker/',
                    color: '#0077B5',
                    elevation: '3'
                },
                {
                    icon: 'fab fa-stack-overflow',
                    url: 'https://stackoverflow.com/users/6854455/ljh',
                    color: '#FF9900',
                    elevation: '3'
                },
                {
                    icon: 'work',
                    url: 'https://www.pfsweb.com/',
                    color: 'black',
                    elevation: '3'
                },
                {
                    icon: 'fab fa-github',
                    url: 'https://github.com/LJH17',
                    color: 'black',
                    elevation: '3'
                },
                {
                    icon: 'fab fa-gitlab',
                    url: 'https://gitlab.com/LJH17',
                    color: 'primary',
                    elevation: '3'
                }
            ]
        }),
        computed: {
            footerTextPrefix () {
                return `${this.year} —`
            }
        }
    }
</script>
