<template>
    <v-toolbar app color="primary">
        <v-toolbar-title class="headline text-uppercase pointer" @click="handleNameClick">
            <span>Luke </span>
            <span class="font-weight-light">Hooker</span>
        </v-toolbar-title>
        <v-spacer/>
        <v-menu :nudge-width="100" class="hidden-sm-and-up">
            <v-toolbar-title slot="activator">
                <span v-text="$_.titleize($route.name)" class="title font-weight-light"/>
                <v-icon>arrow_drop_down</v-icon>
            </v-toolbar-title>

            <v-list>
                <v-list-tile
                    v-for="view in views"
                    :key="view.name"
                    exact
                    :to="view.route"
                >
                    <v-list-tile-title v-text="view.name"/>
                </v-list-tile>
            </v-list>
        </v-menu>
        <v-toolbar-items class="hidden-xs-only">
            <v-btn
                v-for="view in views"
                :key="view.name"
                v-text="view.name"
                class="title font-weight-light"
                exact
                flat
                :to="view.route"
            />
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    import routeNames from '@/router/route-names'

    export default {
        name: 'Header',
        data: () => ({
            views: [
                {
                    name: 'Home',
                    route: { name: routeNames.HOME }
                },
                // {
                //     name: 'About',
                //     route: 'about'
                // },
                {
                    name: 'Projects',
                    route: { name: routeNames.PROJECTS }
                }
                // {
                //     name: 'Apps',
                //     route: { name: routeNames.APPS }
                // }
            ]
        }),
        methods: {
            handleNameClick () {
                const vm = this
                const route = 'home'
                if (vm.$route.name !== route) {
                    vm.$router.push({ name: route })
                    window.scrollTo(0, 0)
                } else {
                    window.scrollTo({ top: 0, behavior: 'smooth' })
                }
            }
        }
    }
</script>
