<template>
    <div>
        <div class="pb-3">
            <span v-text="title" class="title font-weight-light pl-4"/>
            <v-icon
                v-if="showSection"
                :color="arrowColor"
                @click="showSection = false"
            >
                arrow_drop_up
            </v-icon>
            <v-icon
                v-else
                :color="arrowColor"
                @click="showSection = true"
            >
                arrow_drop_down
            </v-icon>
        </div>
        <div v-if="showSection">
            <slot/>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Section',
        props: {
            title: {
                required: true,
                type: String
            },
            arrowColor: {
                type: String,
                default: 'primary'
            }
        },
        data: () => ({
            showSection: true
        })
    }
</script>
