<template>
    <v-card>
        <v-card-title class="pt-2">
            <span class="subheading pl-2">{{ title }}</span>
            <v-spacer/>
            <v-text-field
                v-model="search"
                append-icon="search"
                label="Search"
                single-line
                hide-details
            />
        </v-card-title>
        <v-data-table
            :headers="headersComputed"
            :header-key="headerKey"
            :items="items"
            :item-key="itemKey"
            :loading="loading"
            :search="search"
            :rows-per-page-items="rowsPerPageItems"
        >
            <template v-slot:items="props">
                <td
                    v-for="header in headers"
                    :key="header.value"
                    id="tableRow"
                    v-text="props.item[header.value]"
                />
                <td class="justify-center layout px-0" v-if="hasActions">
                    <v-btn
                        v-if="actions.show"
                        icon
                        @click="showItem(props.item)"
                    >
                        <v-icon
                            small
                            color="primary"
                        >
                            fa-eye
                        </v-icon>
                    </v-btn>
                </td>
            </template>
            <template v-slot:no-results>
                <v-alert :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </template>
        </v-data-table>
    </v-card>
</template>

<style scoped lang="stylus">
    #tableRow
        padding-left 38px
</style>

<script>
    export default {
        name: 'Table',
        props: {
            actions: {
                type: [Object, Boolean],
                default: () => ({
                    show: true
                })
            },
            title: {
                type: String,
                default: 'Nutrition'
            },
            headers: {
                type: Array,
                default: () => [
                    {
                        text: 'Position',
                        value: 'position',
                        align: 'center',
                        sortable: true
                    },
                    {
                        text: 'Player',
                        value: 'player',
                        align: 'center',
                        sortable: true
                    },
                    {
                        text: 'Points',
                        value: 'points',
                        align: 'center',
                        sortable: true
                    },
                    {
                        text: 'Dif. to Next Position',
                        value: 'difference',
                        align: 'center',
                        sortable: true
                    }
                ]
            },
            headerKey: {
                type: String,
                default: 'value'
            },
            items: {
                type: Array,
                default: () => [
                    {
                        position: '1st',
                        player: 'Luke',
                        points: 88.01,
                        difference: null
                    }
                ]
            },
            itemKey: {
                type: String,
                default: 'id'
            },
            loading: {
                type: Boolean,
                default: false
            },
            rowsPerPageItems: {
                type: Array,
                default: () => [5, 10, 25, { text: '$vuetify.dataIterator.rowsPerPageAll', value: -1 }]
            }
        },
        data: () => ({
            actionsHeader: {
                text: 'Actions',
                value: 'actions',
                align: 'center',
                sortable: false
            },
            search: ''
        }),
        computed: {
            hasActions () {
                return this.actions && this.actions.show
            },
            headersComputed () {
                return this.hasActions ? this.headers.concat([this.actionsHeader]) : this.headers
            }
        },
        methods: {
            showItem (item) {
                this.$emit('show', item)
            }
        }
    }
</script>
