<template>
    <v-tabs
        v-model="activeTab"
        centered
        color="secondary"
        icons-and-text
        grow
    >
        <v-tabs-slider color="primary"/>
        <v-tab v-for="route in routes" :key="route.name" exact :to="route.route">
            {{ route.name }}
            <v-icon v-text="route.icon"/>
        </v-tab>
    </v-tabs>
</template>

<script>
    export default {
        name: 'Tabs',
        props: {
            routes: {
                type: Array,
                required: true
            }
        },
        data: () => ({
            activeTab: null
        })
    }
</script>
