<template>
    <v-container fluid grid-list-lg pa-0 pb-3>
        <v-layout wrap>
            <v-flex xs12>
                <div class="headline">Apps</div>
            </v-flex>
            <v-flex xs12>
                <Tabs :routes="appRoutes"/>
            </v-flex>
            <v-flex xs12>
                <router-view/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Tabs from '@/components/layout/Tabs'
    import { GAME_STAT_STANDINGS, FPL, PL_STAT_PREDICTIONS } from '@/router/route-names'

    export default {
        name: 'Apps',
        components: {
            Tabs
        },
        data: () => ({
            appRoutes: [
                {
                    name: 'FPL',
                    icon: 'sports_soccer',
                    route: { name: FPL }
                },
                {
                    name: 'GameStat',
                    icon: 'games',
                    route: { name: GAME_STAT_STANDINGS }
                },
                {
                    name: 'PLStat',
                    icon: 'analytics',
                    route: { name: PL_STAT_PREDICTIONS }
                }
            ]
        })
    }
</script>
