<template>
    <div class="pb-3">
        <GeneralInfo class="pb-3"/>
        <SocialNetworks class="pb-2"/>
        <CVDownload class="pb-2"/>
        <v-divider/>
        <PersonalStatement class="pt-3"/>
        <v-divider/>
        <Employment class="pt-3"/>
        <v-divider/>
        <Education class="pt-3"/>
        <v-divider/>
        <AdditionalSkills class="pt-3"/>
    </div>
</template>

<script>
    import AdditionalSkills from '@/components/me/AdditionalSkills'
    import CVDownload from '@/components/me/CVDownload'
    import Education from '@/components/me/Education'
    import Employment from '@/components/me/Employment'
    import GeneralInfo from '@/components/me/GeneralInfo'
    import PersonalStatement from '@/components/me/PersonalStatement'
    import SocialNetworks from '@/components/me/SocialNetworks'

    export default {
        name: 'Home',
        components: {
            AdditionalSkills,
            CVDownload,
            Education,
            Employment,
            GeneralInfo,
            PersonalStatement,
            SocialNetworks
        }
    }
</script>
