<template>
    <div>
        <div class="headline">Projects</div>
        <List :items="projects"/>
    </div>
</template>

<script>
    import List from '@/components/list/List'

    export default {
        name: 'Projects',
        components: {
            List
        },
        data: () => ({
            projects: [
                {
                    title: 'This Website!',
                    description: 'Personal website.',
                    icon: 'home',
                    repo: {
                        source: 'gitlab',
                        url: 'https://gitlab.com/LJH17/luke-hooker-personal-website'
                    },
                    url: 'https://lukehooker.com'
                },
                {
                    title: 'Game of Life',
                    description: 'Two implementations of Conway\'s Game of Life, one using JS and the other C.',
                    icon: 'games',
                    repo: {
                        source: 'gitlab',
                        url: 'https://gitlab.com/LJH17/luke-hooker-personal-website'
                    },
                    url: ''
                },
                {
                    title: 'GameStat',
                    description: 'A web app that records board game scores, applying tournament-defined formulae.',
                    icon: 'home',
                    repo: {
                        source: 'dropbox',
                        url: 'https://www.dropbox.com/sh/nb0qd5o69l84drp/AABu9x_O3919OYoCzV1uQ_iMa?dl=0'
                    },
                    url: 'http://gamestat.droppages.com/'
                },
                {
                    title: 'CyberTraf',
                    description: `A bandwidth-monitoring tool, designed for a Raspberry Pi operating as a Wireless
                                  Access Point (WAP), with cyber data accessible through the CyberPortal web
                                  application.`,
                    icon: 'home',
                    repo: {
                        source: 'github',
                        url: 'https://github.com/LJH17/CyberTraf'
                    },
                    url: ''
                },
                {
                    title: 'Sortable Table',
                    description: 'A Vue.js web app that features a sortable table with a search bar.',
                    icon: 'home',
                    repo: {
                        source: 'github',
                        url: 'https://github.com/LJH17/Sortable_Table'
                    },
                    url: ''
                },
                {
                    title: 'PL Stat',
                    description: `A Vue.js web app that shows players scores for Premier League table and stats
                                  predictions.`,
                    icon: 'home',
                    repo: {
                        source: 'gitlab',
                        url: 'https://gitlab.com/pl-stat/pl-stat-web'
                    },
                    url: ''
                },
                {
                    title: 'BASIC Interpreter',
                    description: 'A BASIC code interpreter, written in C++.',
                    icon: 'code',
                    repo: {
                        source: 'gitlab',
                        url: 'https://gitlab.com/LJH17/BASIC-interpreter'
                    },
                    url: ''
                },
                {
                    title: 'Minesweeper',
                    description: 'A minesweeper game, built using React and TypeScript.',
                    icon: 'games',
                    repo: {
                        source: 'gitlab',
                        url: 'https://gitlab.com/LJH17/minesweeper'
                    },
                    url: ''
                }
            ]
        })
    }
</script>
