<template>
    <v-container fluid grid-list-lg pa-0>
        <v-layout column wrap fill-height>
            <v-flex xs12>
                <v-alert
                    :value="true"
                    type="info"
                >
                    You can
                    <a
                        href="https://forms.gle/Fb3CAGQwmEDeLcjj7"
                        class="yellow--text"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        enter your predictions via Google Forms
                    </a>
                    instead, if you prefer
                </v-alert>
            </v-flex>
            <v-flex xs12>
                <iframe
                    class="predictions-iframe"
                    :src="formUrl"
                    loading="lazy"
                >
                    Loading…
                </iframe>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<style scoped lang="stylus">
    .predictions-iframe
        border 0
        width 100%
        height 65vh
</style>

<script>
    export default {
        name: 'PLStat',
        data: () => ({
            // predictionsUrl: 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTl6P3zTbWXWmeuECd0l405AOpAFV0tbVl-M_3aiRA_-B62UT046C20xe_FRC4_Wg/pubhtml?widget=true&amp;headers=false',
            formUrl: 'https://docs.google.com/forms/d/e/1FAIpQLSfHLLJ08AativdY1j_0k6IqEQYgE3Kp_0U-0MYjq9-ggXlGvA/viewform?embedded=true',
            externalFormUrl: 'https://forms.gle/Fb3CAGQwmEDeLcjj7'
        })
    }
</script>
