<template>
    <v-timeline :dense="dense" class="mb-3">
        <v-timeline-item
            v-for="item in items"
            :key="item.start"
            :color="`${item.color} lighten-2`"
            :icon="item.icon"
            large
            fill-dot
        >
            <span slot="opposite" class="title font-weight-light" v-text="generateRangeLabel(item.start, item.end)"/>
            <v-card>
                <v-card-title :class="`${item.color} lighten-2`">
                    <v-flex xs3 sm2>
                        <v-icon
                            size="42"
                            class="mr-3"
                        >
                            {{ item.icon }}
                        </v-icon>
                    </v-flex>
                    <v-flex xs9 sm10>
                        <div
                            class="title white--text font-weight-light text-xs-left"
                            v-text="`${item.title}${dense ? ` (${generateRangeLabel(item.start, item.end)})` : ''}`"
                        ></div>
                    </v-flex>
                </v-card-title>
                <v-container pt-2>
                    <v-layout>
                        <v-flex :class="$_.isEmpty(item.logo) ? 'xs12' : 'xs10'">
                            <v-card
                                v-for="event of item.events"
                                :key="event.title"
                                class="text-xs-left"
                                flat
                            >
                                <v-card-title
                                    v-text="`${event.title}${event.start ? ` (${generateRangeLabel(event.start, event.end)})` : ''}`"
                                    class="subheading font-weight-bold"
                                />
                                <v-card-text class="py-0">
                                    <ul
                                        v-for="(descriptor, index) of event.description"
                                        :key="index"
                                        class="py-1 px-0"
                                    >
                                        <li>{{ descriptor }}</li>
                                    </ul>
                                </v-card-text>
                            </v-card>
                        </v-flex>
                        <v-flex xs2 v-if="!$_.isEmpty(item.logo)">
                            <v-icon size="64">{{ item.logo }}</v-icon>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-timeline-item>
    </v-timeline>
</template>

<script>
    export default {
        name: 'Timeine',
        props: {
            dense: {
                required: true,
                type: Boolean
            },
            items: {
                required: true,
                type: Array
            }
        },
        methods: {
            generateRangeLabel (start, end) {
                function formatDate (date) {
                    return moment(date, 'DD/MM/YYYY').format('MMM YY')
                }
                const startFormatted = formatDate(start)
                const endFormatted = _.isEmpty(end) ? 'Present' : formatDate(end)
                return `${startFormatted} — ${endFormatted}`
            }
        }
    }
</script>
