<template>
    <v-app dark>
        <Header/>
        <v-content class="px-4">
            <router-view/>
        </v-content>
        <Footer/>
    </v-app>
</template>

<style lang="stylus">
    #app
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        text-align center
        padding-top 10px
</style>

<script>
    import Header from '@/components/layout/Header'
    import Footer from '@/components/layout/Footer'

    export default {
        name: 'App',
        components: {
            Header,
            Footer
        }
    }
</script>
