<template>
    <v-container fluid grid-list-lg pa-0>
        <v-layout wrap>
            <v-flex xs12 v-if="leagueError">
                <v-alert
                    type="error"
                    :value="true"
                    dismissible
                    outline
                    v-text="leagueError"
                />
            </v-flex>
            <v-flex sm3 xs11>
                <v-autocomplete
                    :value="selectedLeague"
                    prepend-icon="sports_soccer"
                    :items="leagueOptions"
                    label="League"
                    item-text="name"
                    item-value="id"
                    return-object
                    @change="handleChangeLeague"
                ></v-autocomplete>
            </v-flex>
            <v-flex xs12>
                <Table v-bind="tableProps"/>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    import Table from '@/components/layout/Table'

    export default {
        name: 'FPL',
        components: {
            Table
        },
        computed: {
            ...mapGetters('apps/FPL', [
                'leagueOptions',
                'selectedLeague',
                'leagueStandings',
                'leagueError',
                'leagueLoading'
            ]),
            tableProps () {
                return {
                    actions: false,
                    loading: this.leagueLoading,
                    title: this.selectedLeague.name,
                    headers: [
                        {
                            text: 'Position',
                            value: 'rank',
                            align: 'center',
                            sortable: true
                        },
                        {
                            text: 'Player Name',
                            value: 'player_name',
                            align: 'center',
                            sortable: true
                        },
                        {
                            text: 'Team Name',
                            value: 'entry_name',
                            align: 'center',
                            sortable: true
                        },
                        {
                            text: 'GW Total',
                            value: 'event_total',
                            align: 'center',
                            sortable: true
                        },
                        {
                            text: 'Total Points',
                            value: 'total',
                            align: 'center',
                            sortable: true
                        }
                    ],
                    items: this.leagueStandings,
                    itemKey: 'id',
                    rowsPerPageItems: [10, 25, { text: '$vuetify.dataIterator.rowsPerPageAll', value: -1 }]
                }
            }
        },
        methods: {
            ...mapActions('apps/FPL', [
                'resetFpl',
                'getLeagueData',
                'setSelectedLeague'
            ]),
            handleChangeLeague (data) {
                this.setSelectedLeague(data)
                this.getLeagueData(data.id)
            }
        },
        created () {
            this.getLeagueData()
        },
        destroyed () {
            this.resetFpl()
        }
    }
</script>
